<div id="titulo">
    <h1>TODO LIST JAVASCRIPT</h1>
</div>
<div id="formulario">
    <form action="/add" method="post">
        <span>Titulo:</span>
        <input type="text" name="titulo" id="titulo">
        <br>
        <span id="postagem">Postagem:</span>
        <textarea name="conteudo" id="conteudo" cols="1" rows="1"></textarea>
        <br>
        <input type="submit" id="adicionar" value="Adicionar Tarefa">
    </form>
    <form action="/req" method="post">
        <input type="submit" id="submit" value="Ver Tarefas">
    </form>
</div>

{{!-- <div id="formulário">
    <form action="/add" method="post">
        <input type="text" name="tarefa" id="tarefa">
        <input type="submit" id="submit" value="Adicionar Tarefa">
    </form>
</div> --}}